<!DOCTYPE html>
<html>
{% include "partials/head.html" %}
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    {% include "partials/header.html" %}
    {% include "partials/sidebar.html" %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <h4 class="m-3">Manage Users</h4>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="users_table" class="table table-bordered table-striped text-center">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                <tr data-id="{{ user[0] }}">
                                    <td class="user-id">{{ user[0] }}</td>
                                    <td class="user-name">{{ user[1] }}</td>
                                    <td class="user-email">{{ user[2] }}</td>
                                    {% if user[3] == 1 %}
                                        <td class="user-role">Admin</td>
                                    {% else %}
                                        <td class="user-role">User</td>
                                    {% endif %}
                                    <td class="user-action">
                                        <button class="btn btn-warning btn-sm" onclick="openEditUserModal('{{ user[0] }}')">edit</button>
                                        <button class="btn btn-danger btn-sm" onclick="openRemoveUserModal('{{ user[0] }}')">remove</button>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

    </div>

    <div class="modal fade" id="modal-edit-user">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit User</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="modal-edit-user-form">
                    <div class="modal-body">
                        <input type="hidden" id="modal_edit_user_id">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" id="modal_edit_user_name" disabled>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" id="modal_edit_user_email" disabled>
                        </div>
                        <div class="form-group">
                            <label>Role</label>
                            <select class="form-control" id="modal_edit_user_role">
                                <option value="2">User</option>
                                <option value="1">Admin</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning">Save Changes</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="modal-remove-user">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Remove User</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="modal-remove-user-form">
                    <div class="modal-body">
                        <input type="hidden" id="modal_remove_user_id">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" id="modal_remove_user_name" disabled>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" id="modal_remove_user_email" disabled>
                        </div>
                        <div class="form-group">
                            <label>Role</label>
                            <select class="form-control" id="modal_remove_user_role" disabled>
                                <option value="2">User</option>
                                <option value="1">Admin</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Remove User</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    {% include "partials/footer.html" %}
</div>
<!-- ./wrapper -->
{% include "partials/foot.html" %}
<script>
    $(function () {
        $('#users_table').DataTable();
    });
    function openEditUserModal(id) {
        let name = $('tr[data-id="' + id + '"] .user-name').text();
        let email = $('tr[data-id="' + id + '"] .user-email').text();
        let roleText = $('tr[data-id="' + id + '"] .user-role').text();
        let role = 2;
        if (roleText === 'Admin') role = 1;
        $('#modal_edit_user_id').val(id);
        $('#modal_edit_user_name').val(name);
        $('#modal_edit_user_email').val(email);
        $('#modal_edit_user_role').val(role);
        $('#modal-edit-user').modal('show');
    }
    function openRemoveUserModal(id) {
        let name = $('tr[data-id="' + id + '"] .user-name').text();
        let email = $('tr[data-id="' + id + '"] .user-email').text();
        let roleText = $('tr[data-id="' + id + '"] .user-role').text();
        let role = 2;
        if (roleText === 'Admin') role = 1;
        $('#modal_remove_user_id').val(id);
        $('#modal_remove_user_name').val(name);
        $('#modal_remove_user_email').val(email);
        $('#modal_remove_user_role').val(role);
        $('#modal-remove-user').modal('show');
    }

    $('#modal-edit-user-form').on('submit', function (e) {
        e.preventDefault();
        let user_id = $('#modal_edit_user_id').val();
        let user_role = $('#modal_edit_user_role').val();
        $.ajax({
            url: "{{url_for('user_management')}}",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                method_type: 'edit',
                user_id: user_id,
                user_role: user_role,
            }),
            success: function (res) {
                if (res.status === 'success') {
                    customAlert(res.message, true);
                    setTimeout(function () {
                        location.reload()
                    }, 2500);
                } else customAlert(res.message);
            }
        })
    });

    $('#modal-remove-user-form').on('submit', function (e) {
        e.preventDefault();
        let user_id = $('#modal_remove_user_id').val();
        $.ajax({
            url: "{{url_for('user_management')}}",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                method_type: 'remove',
                user_id: user_id,
            }),
            success: function (res) {
                if (res.status === 'success') {
                    customAlert(res.message, true);
                    setTimeout(function () {
                        location.reload()
                    }, 2500);
                } else customAlert(res.message);
            }
        })
    })
</script>
</body>
</html>
